* {
  font-family: "Poppins", sans-serif;
}

#navbar {
  background-color: teal;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: whitesmoke;
}

#headng {
  text-align: center;
  font-weight: 1000;
  font-size: 38px;
  margin-top: 4%;
  margin-bottom: 3%;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 25px;
  width: 98%;
  margin: auto;
}

#container > div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
}

#image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#logo {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 18px;
}

h3,
p {
  text-align: center;
}
